html {
    background-image: url("loler.jpg");
    background-position: fixed;
    scroll-behavior: smooth;
}

    
canvas { 
    display: block; 
    vertical-align: bottom; 
} 

#particles-js { 
    z-index: -1;
    position:absolute; 
    width: 100%; 
    height: 100%;  
    background-repeat: no-repeat; 
    background-size: 20%; 
    background-position: 50% 50%; 
} 

#wrapper{
    width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

#wrapper article{
	width: 95%;
    margin: 0 auto;
    padding-right: 20px;
    text-align: center;
    display: grid;
    height: 80%;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    margin-bottom: 5px;
}
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(14, 2, 2, 0.6);
    height: 100vh;
}

.navbar {
    grid-template-columns: 50% 50%;
    background-color: #7e1f15;
    height: 60px;
}

.navbar p {
    float: left;
    margin: 0 auto;
    padding: 20px;
}

.navbar ul {
    margin: 0;
    margin: 0px auto;
    padding: 20px;
    float: right;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 25px 22px 22px 22px;
}

.navbar ul li a:hover {
    background-color: #08133d;
    
}
